APP_NAME=ParkingController API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql://postgres:a.123456@localhost:5433/db_parking

SECRET_KEY=change_this_in_real_env
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256